<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-searchbar class="mapsearchBar" [(ngModel)]="cityName" debounce="500" class="search-bar"
      placeholder="Search"></ion-searchbar>
    <ion-button expand="block" (click)="getData()">Get weather Data</ion-button>

    <ion-title *ngIf="!isOnline" class="error-message ion-padding-top">
      No internet connection. Please check your network.
    </ion-title>

    <ion-card *ngFor="let forecast of forecastData">
      <div class="weather-data ion-padding">
        <ion-text class="date-bg">{{ formatUnixTimestamp(forecast?.dt) }}</ion-text>
        <ion-text>Temperature: {{ forecast?.main?.temp }}°C</ion-text>
        <ion-text>Description: {{ forecast?.weather[0]?.description }}</ion-text>
      </div>
    </ion-card>
  </ion-list>
</ion-content>